<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <title><%= title%></title>
</head>
<body>
    <!-- make a search form which posts data so that we can run search query -->
    <form action="/upload" enctype="multipart/form-data" method="POST">
        <input type="file" name="avatar" id="uploadCsv">
        <label for="uploadCsv">Choose File</label>
        <input type="submit" value = "update">
    </form>

    <!-- loop through each and every avatar to render the values of links -->
    <% for(avatar of avatars){%>
        <ul>
            <li>
                <a href="/<%= avatar.filename%>"> <%= avatar.avatar%></a>    
            </li>
        </ul>
    <%}%>
    
    <script
  src="https://code.jquery.com/jquery-3.4.1.min.js"
  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
  crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script> 
</body>
</html>